@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(Montserrat-Regular.ttf);
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #e1e1e1;
}
table {
    background-color: whitesmoke;
    color: #393939;
    border-collapse: collapse;
    width: 1400px;
    margin: 20px auto;
}
.sort-asc:after {
    content: ' ▼ ';
    color: gray;
    font-size: 20px;
  }
  .sort-desc:after {
    content: ' ▲ ';
    color: gray;
    font-size: 20px;
  }
  
  .reset-button {
    position: absolute;
    right: 80px;
    top: 45px;
    display: block;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }
th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #cecece;
    border: 1px solid rgb(200, 200, 200);
}